@font-face {
	font-family: 'Svyaznoy RF';
	src: url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF.eot');
	src: url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF.eot?#iefix') format('embedded-opentype'),
		url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF.woff') format('woff'),
		url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Svyaznoy RF Bold';
	src: url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Bold.eot');
	src: url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Bold.woff') format('woff'),
		url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Svyaznoy RF Condensed';
	src: url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Condensed.eot');
	src: url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Condensed.eot?#iefix') format('embedded-opentype'),
		url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Condensed.woff') format('woff'),
		url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Svyaznoy RF Condensed Bold';
	src: url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRFCondensed-Bold.eot');
	src: url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRFCondensed-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRFCondensed-Bold.woff') format('woff'),
		url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRFCondensed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Svyaznoy RF Numerals';
	src: url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Numerals.eot');
	src: url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Numerals.eot?#iefix') format('embedded-opentype'),
		url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Numerals.woff') format('woff'),
		url('https://s3.eu-central-1.amazonaws.com/svyaznoy-cdn/new_fonts/SvyaznoyRF-Numerals.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
